# Не искать настройки за пределами проекта
config.stopBubbling = true

# Хранить имена параметров конструктора
lombok.anyconstructor.addconstructorproperties = true

# Добавить @Generated над сгенерированнвм классом
lombok.addLombokGeneratedAnnotation = true

# Добавлять @SuppressWarnings в методы
lombok.addSuppressWarnings = false

# Экуалс и хэшкод учитывают родителя
lombok.equalsAndHashCode.callSuper = skip

# Экуалс и хэшкод не используют геттеры
lombok.equalsAndHashCode.doNotUseGetters = true

# Тустринг содержит родителя с его полями
lombok.toString.callSuper = call

# Тустринг не использует геттеры
lombok.toString.doNotUseGetters = true
