vaadin-grid.big-header-grid::part(header-cell) {
    font-weight: bold;
}

vaadin-grid::part(selected-row-cell) {
    color: #906535;
    font-weight: 520;
}

.order-details {
    background-color: light-dark(#e4e7ee, #292e39);
    padding: 10px;
}


